@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply antialiased;
  }
}

@layer utilities {
  .bg-gradient {
    @apply bg-gradient-to-r from-blue-600 to-indigo-600;
  }
}
html, body {
  overflow-x: hidden;
}

@keyframes rotateBorder {
  0% {
    border-image-source: linear-gradient(0deg, #7005eb, white);
  }
  25% {
    border-image-source: linear-gradient(90deg, #7005eb, white);
  }
  50% {
    border-image-source: linear-gradient(180deg, #7005eb, white);
  }
  75% {
    border-image-source: linear-gradient(270deg, #7005eb, white);
  }
  100% {
    border-image-source: linear-gradient(360deg, #7005eb, white);
  }
}
